#app>.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: var(--bg-color);
  row-gap: 1em;

  .textarea-container {
    flex: 1;
    margin: 1em;
    margin-bottom: 1em;

    textarea {
      width: 100%;
      height: 100%;
      font-size: 2em;
    }
  }

  .tag-selector {
    margin: 1em;
  }

  .save {
    background-color: var(--bg-color-lighter);
    border: none;
    padding: .2em;
    font-size: 2em;
    color: var(--text-color);
    transition: color .5s;
    transition: background-color .5s;

    &[disabled] {
      color: var(--bg-color-lighter);
      background-color: var(--bg-color);
    }
  }
}
