#app>.main {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  background: var(--bg-color);
  row-gap: 1em;

  .textarea-container {
    flex: 1;
    margin: 1em;
    display: grid;

    &::after {
      content: attr(data-replicated-value) " ";
      white-space: pre-wrap;
      visibility: hidden;
    }

    textarea,
    &::after {
      grid-area: 1 / 1 / 2 / 2;
      width: 100%;
      min-height: calc(100vh - 3em);
      font-size: 2em;
      resize: none;
      overflow: hidden;
    }
  }

  .tags-container {
    display: grid;
    grid-template-areas:
      "tag-selector tag-selector tag-selector"
      "age-selector city-selector place-selector";
    grid-template-columns: auto 1fr 1fr;
    row-gap: 1em;
    column-gap: 1em;
    margin: 1em;

    .tag-selector {
      grid-area: tag-selector;
    }

    select {
      appearance: none;
      background-color: transparent;
      color: var(--text-color);
      border: none;
      border-bottom: 1px solid var(--text-color);

      option {
        background-color: var(--bg-color);
        font-family: 'Barlow'; // does not work on firefox, bug #1536148
      }
    }

    .age {
      grid-area: age-selector;
      display: flex;
      column-gap: .3em;

      input {
        width: 2em;
      }
    }

    .city {
      grid-area: city-selector;
    }

    .place {
      grid-area: place-selector;
    }
  }

  .save {
    background-color: var(--bg-color-lighter);
    border: none;
    padding: .2em;
    font-size: 2em;
    color: var(--text-color);
    transition: color .5s;
    transition: background-color .5s;

    &[disabled] {
      color: var(--bg-color-lighter);
      background-color: var(--bg-color);
    }
  }
}
